Plugins/Developer/
/Intermediate/
Intermediate/
Saved/
.idea/
.vsconfig
**/Plugins/MySQL/
*.sln
MySQLLibrary/
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
!UnrealEditor-*.dll
*/.vs/*
*DebugGame*
*.pdb
