Plugins/Developer/
/Intermediate/
Intermediate/
Saved/
.idea/
.vsconfig
**/Plugins/MySQL/
*.sln
MySQLLibrary/
MySQLIntegrationDemo_5.3/Content/__ExternalActors__/
MySQLIntegrationDemo_5.3/Content/__ExternalObjects__/
!UnrealEditor-*.dll
*DebugGame.dll
